.wholeContainer{
    margin-left: 200px;
}

.products-container {
    background-color: #ffffff;
    width: 300px;
    height: 500px;
    display: inline-table;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
  }

.products-container:hover{
    box-shadow: 0px 0px 10px #4e4e4e;
    cursor: pointer;
} 

@media(max-width: 600px){
 .wholeContainer{
     margin-left: 30px;
     
 }
  }

.img img    {
    width: 300px;
    height: 330px;

}

.title{
    height: 50px;
    margin-left: 10px;
}

.cena{
    
    text-align: end;
    margin: 10px;
}
