.product-wiew{
    background-color: #f7f7f7;
    margin-left: 200px;

}
@media(max-width: 600px){
    .product-wiew{
        margin-left: 0px;
    }
  }
  
.product{
    margin: 40px;
    
}

.img img{
    width: 450px;
    height: 495px;
    display: inline-block;
}
.popis{
    text-align: left;
    display: inline-block;
    position: relative;
    color: black;
    margin-left: 20px ;
 
}
.cena-conatiner{
    margin-right: 30px;
    text-align: right;
    display: block;
}
.cena{
    margin: 0 auto;
    text-align: right;
    display: block;
}

.stock{
    margin: 0 auto;
    display: block;
    color: #15d649;
}