{% extends "items/home.html" %}
{% load static %}


 
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'items/css/Category.css' %}">
<script src="{% static 'items/js/Category.js' %}"></script>
    



    <div class="wholeContainer" id ="wholeContainer">
        {% for product in products %}
     
    
        <div class="products-container" id="products-container">
            <input type="hidden" name="product-url" id="product-url" value="{{product.url}}">
            <p class="img"><img src= {{ product.image.url }}/></p>
            <h2 class="title">{{product.name}}</h2>
            <h2 class="cena">{{product.price}} €</h2>
        </div>


        {% endfor %}
    </div>




{% endblock content %}