<!DOCTYPE html>
{% load static %} 

<html lang="sk">
    
    <head>
            <script src="{% static 'items/js/home.js' %}"></script>
            <link rel="stylesheet" type="text/css" href="{% static 'items/css/Home.css' %}">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Chovateľské potreby</title>
    </head>

        <body>  
                        <div class="top">
                                <form action="{% url 'searchResults' %}" method="get">
                                        <button class="submit" id="submit" type="submit">Vyhľadaj</button>
                                        <input  class="search" id="site-search" name="q"aria-label="Vyhladaj">
                                </form>
                                <button class="link" onclick="window.location.href='/kontakt'">Kontakt</button>
                                <button class="link" onclick="window.location.href='/ '">Domov</button>
                                <div class="responzivita" id="responzivita">
                                <img src="/static/items/css/menu.png" alt="">
                        </div>
                                


                        </div>
                
                        <div class="tab" id="tab">
                        {% for category in category %}
                                <button class="{{ category.name }}" onclick="window.location.href='/category/{{category.url}}'">{{ category.name }}</button>
                        {% endfor %}
                        </div>
                {% block content %}    
                {% endblock content %}
                
                
        </body>
        
    
</html>