{% extends "items/home.html" %}
{% load static %}


 
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'items/css/Product.css' %}">
<script src="{% static 'items/js/product.js' %}"></script>

<div class="product-wiew">
    <div class="product">
        <input type="hidden" name="product-stock" id="product-stock" value="{{product.stock}}">
        <h1>{{product.name}}</h1>
        <p class="img"><img src= {{ product.image.url }}/></p>
        <p class="popis"> {{product.descripton}}</p>
        <div class="cena-conatiner">    
            <h2 class="cena">{{product.price}} €</h2>
            <h2 class="stock" id="stock">Na sklade</h2>
            <form action="{% url 'addToCart' product.url %}" method="get">
                <input type="hidden" name="next" value="{{ request.path }}">
                <button class="vlozit"> Vlož do košíka</button>
            </form>

        </div>

    </div>
</div>



    {% endblock content %}